.PD_Top {
  display: flex;
  width: 100%;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}
.background-video2 {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}
.BottomDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gallery-container {
  width: 50vw;
}
.custom-thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.ProductDecWrapper {
  margin-left: 1rem;
  width: 50vw;
}
.PurchasedOnline {
  margin-top: -1.5rem;
}
.QtyWrapper {
  margin-top: 1.5rem;
  display: flex;
}
.shoppingCartButton {
  margin-left: 2rem;
  background-color: #f82330;
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.altImage img {
  width: 500px;
  height: auto;
}
/*
.custom-thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-container {
  width: 100vw;
  /* min-width: 600px;
  max-width: 600px; */
/*}

.ProductDecWrapper {
  margin-left: 4rem;
}

.PurchasedOnline {
  margin-top: -1.5rem;
}

.QtyWrapper {
  margin-top: 1.5rem;
  display: flex;
}

.shoppingCartButton {
  margin-left: 2rem;
  background-color: #f82330;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}*/
.PD_Bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.aboutThisItem {
  width: 100%;
  height: 2rem;
  background-color: #d1d3df;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.ItemVideo {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  border-radius: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -12px,
    rgba(0, 0, 0, 0.3) 0px 10px 16px -12px;
  /* background: url(/public/ScrollDown2.png); */
}

.ItemVideo video {
  border-radius: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: auto;
}

.descS1,
.descS2 {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: auto;
}
.descS1 > div,
.descs1 > :nth-child(2),
.descS2 > div,
.descS2 > :nth-child(2) {
  width: 49%;
  height: auto;

  font-size: 1rem;

  padding: 4rem 1rem;
  text-align: justify;
  display: flex;
  align-items: center;
}
.descStext span {
  margin: 2rem;
  padding: 1rem;

  object-fit: contain;
}
.descS1 > div img,
.descS2 > div img,
.descS3 > div img {
  width: 95%;
  border-radius: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px;
}
.descS1Behind {
  width: 100%;
  height: auto;
  background-color: gold;
  border-radius: 18px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px; */
  transform: translateY(-10%) translateX(-90%) rotate(-170deg);
  z-index: -1;
}

.descS2 {
  /* background: url("/public/DescS2Photo.png"); */
  width: 100%;
  color: black;
}
.descS3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 90%;
  border-radius: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px;
  background-color: rgb(248, 248, 248);
}
.descS3 > :nth-child(2),
.descS3 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  text-align: justify;
  padding-top: 2rem;
}

/* .ItemVideo {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem;
  margin-top: 0;
  width: 100%;
  background: url(/public/ScrollDown1.png);
  max-height: 3rem;
  padding-bottom: 48.25%;
  position: relative;
}
.ItemVideo video {
  position: absolute;
  margin-top: 1rem;
  width: 85%;
  height: auto;
} */
.Accordion {
  width: 100%;

  padding: 16px;
}
.Collapsible__trigger {
  background-color: #d1d3df !important;
}

.ProductWrapper {
  padding: 1rem;
}
/*Responsive*/
@media screen and (max-width: 480px) {
  .PD_Top {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .gallery-container {
    width: 100vw;
  }
  .ProductDecWrapper {
    margin-left: 1rem;
    width: 100vw;
    margin-bottom: 2rem;
  }
  .descS1,
  .descS2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: auto;

    /* background-color: antiquewhite; */
  }
  .descS1 > div,
  .descs1 > :nth-child(2),
  .descS2 > div,
  .descS2 > :nth-child(2) {
    width: 100%;
    height: auto;

    font-size: 1rem;
    margin: 1rem;
    text-align: justify;
    display: flex;
    align-items: center;
  }
}
/* Wave text loader made by: csozi | Website: english.csozi.hu*/

.loadingspinner {
  --square: 40px;
  --offset: 50px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: red;
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 5px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay))
      var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {
  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
