.SignInInput {
	margin: 50px 0px 50px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.CreateAccBtn {
	cursor: pointer;
}

.ConfirmSignInBtn {
	cursor: pointer;
}
